<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQIIVcTi0Znu-qoGDm4fcYChBrZlKAp20</string>
	<key>GCM_SENDER_ID</key>
	<string>328341724561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solutionChallege.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>testting-83916</string>
	<key>STORAGE_BUCKET</key>
	<string>testting-83916.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328341724561:ios:8094f24a0d4c6f38370e30</string>
</dict>
</plist>